:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background: var(--wood);
  box-shadow: 0 1em 2em black, inset 0 0.3em 0.1em var(--wood-top),
    inset 0 0.3em 0.1em var(--wood-bottom);
  aspect-ratio: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.play-area {
  box-sizing: border-box;
  position: absolute;
  left: 7em;
  top: 7em;
  right: 7em;
  bottom: 7em;
  background: var(--billiards-cloth);
  box-shadow: inset 0 0.5em 4em #050f05a4, inset 0 2em 10em #0914093b,
    0 0.5em 0.5em var(--wood-top), 0 -0.5em 0.5em var(--wood-bottom);

  .line {
    --margin: 6em;
    position: absolute;
    left: var(--margin);
    top: var(--margin);
    right: var(--margin);
    bottom: var(--margin);
    border: max(2px, 0.5em) solid rgba(0, 0, 0, 0.13);
  }
}

.hole {
  display: block;
  width: round(50em);
  height: round(50em);
  position: absolute;
  border-radius: 50%;
  overflow: hidden;

  --margin: -17em;
  &.left {
    left: var(--margin);
  }
  &.right {
    right: var(--margin);
  }
  &.top {
    top: var(--margin);
  }
  &.bottom {
    bottom: var(--margin);
  }

  & > .hole-model {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 50%;
    display: block;
    background: #140d06;
    background: radial-gradient(circle, #140d06 50%, #000000 100%);
    box-shadow: 0 0.5em 0.5em var(--wood-top), 0 -0.5em 0.5em var(--wood-bottom);
  }
}

.balls {
  --top-margin: 30em;
  position: absolute;
  left: 0;
  top: var(--top-margin);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  &.horizontal {
    top: 0;
    right: var(--top-margin);
    bottom: 0;
    left: unset;
    flex-direction: row-reverse;

    & > .row {
      flex-direction: column;
    }
  }
}

.white-ball {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 50em;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outside,
.table-click-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}

:host.show-areas {
  .outside {
    background: var(--outline-bad-fill);
    outline: 2px dotted var(--outline-bad);
    outline-offset: -2px;
    border-radius: 1em;
  }

  &:not(.mouse-over-table):hover {
    --outline-bad: var(--outline-bad-highlight);
    --outline-bad-fill: var(--outline-bad-fill-highlight);
  }

  .view {
    outline: 2px dotted var(--outline-bad);
  }

  .play-area {
    filter: grayscale(0.9);
  }

  .hole {
    background: var(--outline-fill);
    outline: 2px dotted var(--outline);

    &:hover {
      // filter: brightness(2);
      --outline: #2ee0ff;
      --outline-fill: #1381ff4d;
    }
  }

  .balls {
    pointer-events: none;
  }
}
