<div
  class="view"
  [style.width.px]="width"
  [style.height.px]="height"
  [style.borderRadius.px]="width * 0.05"
  [style.fontSize.px]="size"
>
  <div
    class="play-area"
    [style.borderRadius.px]="width * 0.03"
    [style.fontSize.px]="size"
  >
    <div class="line" [style.fontSize.px]="size"></div>
  </div>

  <div class="hole top left" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  <div class="hole top right" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  @if (horizontal) {

  <div class="hole top" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  <div class="hole bottom" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  } @else {
  <div class="hole left" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  <div class="hole right" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  }
  <div class="hole bottom left" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>
  <div class="hole bottom right" [style.fontSize.px]="size">
    <div class="hole-model"></div>
  </div>

  <div class="balls" [style.fontSize.px]="size">
    <div class="row" [style.fontSize.px]="size">
      <app-billiards-ball
        [size]="size * 10"
        [number]="5"
        [color]="'#fa802a'"
      ></app-billiards-ball>
    </div>
    <div class="row" [style.fontSize.px]="size">
      <app-billiards-ball
        [size]="size * 10"
        [number]="7"
        [color]="'#700d26'"
      ></app-billiards-ball>
      <app-billiards-ball
        [size]="size * 10"
        [number]="8"
        [color]="'#05071a'"
      ></app-billiards-ball>
    </div>
    <div class="row" [style.fontSize.px]="size">
      <app-billiards-ball
        [size]="size * 10"
        [number]="4"
        [color]="'#622bc2'"
        [enabled]="false"
      ></app-billiards-ball>
      <app-billiards-ball
        [size]="size * 10"
        [number]="9"
        [colorFill]="false"
        [color]="'#ffc012'"
      ></app-billiards-ball>
      <app-billiards-ball
        [size]="size * 10"
        [number]="6"
        [color]="'#0d7051'"
        [enabled]="false"
      ></app-billiards-ball>
    </div>
    <div class="row" [style.fontSize.px]="size">
      <app-billiards-ball
        [size]="size * 10"
        [number]="2"
        [color]="'#4340de'"
      ></app-billiards-ball>
      <app-billiards-ball
        [size]="size * 10"
        [number]="3"
        [color]="'#e03131'"
        [enabled]="false"
      ></app-billiards-ball>
    </div>
    <div class="row" [style.fontSize.px]="size">
      <app-billiards-ball
        [size]="size * 10"
        [number]="1"
        [color]="'#ffc012'"
        [enabled]="false"
      ></app-billiards-ball>
    </div>
  </div>
</div>
