<div class="header">
  <span class="round-number">Round 3</span>
  <app-button [text]="'+'" [icon]="true" />
</div>

<div class="content">
  @for (player of players; track $index) {
  <app-score-row
    [name]="player.name"
    [score]="player.score"
    (click)="openModal(player)"
  />
  }
  <div class="add-new">
    <app-button [text]="'+'" [icon]="true" />
  </div>
</div>

<app-modal #modal [show]="showModal">
  <app-button header [text]="'☰'" [icon]="true" />
  <input header class="modal-title" [value]="selectedPlayer?.name" (input)="onEditName($event)">
  <app-button header [text]="'X'" [icon]="true" (click)="closeModal()" />
  <p content>Test</p>
</app-modal>
