:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    & > .round-number {
        padding-left: 2em;
        flex-grow: 1;
        text-align: center;
        font-size: 1.5em;
    }
}

.content {
    padding-top: 0.5em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
    flex-shrink: 1;
    flex-grow: 1;
    height: 0;

    .add-new {
        background: linear-gradient(0deg, var(--background), transparent);
        position: sticky;
        bottom: 0;
        border-top: 1px solid var(--shadow);
        padding-top: 3px;
        margin-top: 2px;
        backdrop-filter: blur(12px);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: var(--highlight);
            opacity: 0.5;
        }
    }
}