:host,
.main,
.scores {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 0 5px 10px var(--shadow);
  padding: 0.25em;
  overflow: auto;
  gap: 0.25em;
  z-index: 1;
}

.scores {
  padding: 0.5em;
}

@media (min-width: 600px) {
  .main {
    flex-direction: row;
    align-items: stretch;
  }

  .menu {
    flex-direction: column;
    box-shadow: 0 5px 10px var(--shadow-hard), 0 12px 30px var(--shadow);
  }
}

app-billiards-view {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}