:host {
  --background: #ffffff;
  --background: radial-gradient(circle, #ffffff 0em, #a89e8f 0.5em);

  display: block;
  background: var(--background);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.05em 0.1em #00000077, 0 0.1em 0.4em #0000006e,
    inset 0 0 0.15em #17300f;
  user-select: none;
  transition: transform 0.5s ease;
  
  &:hover {
    transform: scale(1.15) translateY(-0.05em);
    z-index: 1;
    transition: transform 0.1s ease-out;
  }
  &:active {
    transform: scale(1.1);
    transition: transform 0.05s ease-out;
  }

  &:not(.enabled) {
    opacity: 0.8;
    filter: grayscale(1) contrast(0.4);
    outline: 2px solid black;
    outline-offset: -1px;
    pointer-events: none;
  }
}

.color-strip,
.number,
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.color-strip {
  width: 60%;
  mix-blend-mode: multiply;

  &.fill {
    width: unset;
  }
}

.number {
  background: var(--background);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  & > span {
    text-align: center;
    line-height: 1em;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    mix-blend-mode: color-burn;
    opacity: 0.7;
  }
}

.overlay {
  background-position: 1em 0em;
  background: radial-gradient(
    at 65% 25%,
    #fff9d5a4 0%,
    #fff9d52d 30%,
    #fff9d500 55%,
    rgb(4, 78, 10)
  );
  mix-blend-mode: overlay;
}
