:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;

  &.code {
    font-size: 5em;
    color: var(--outline-bad);
  }

  &.name {
    margin-top: -0.25em;
    font-size: 2em;
    color: var(--text-secondary-color);
  }

  &.description {
    line-height: normal;

    &.first {
      margin-top: 1em;
    }
  }
}
