* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Sizes */
    --font-size-large: 38px;
    --font-size-medium: 18px;
    --font-size: 12px;

    /* Colors */
    --text-primary-color: black;
    --text-secondary-color: rgb(112, 119, 115);
    --background: whitesmoke;
}

/* Dark mode */
html.dark {
    --text-primary-color: whitesmoke;
    --text-secondary-color: rgb(112, 119, 115);
    --background: #121213;
}

html,
body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    color: var(--text-primary-color);
    background: var(--background);

    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--font-size-large);
}
h2 {
    color: var(--text-secondary-color);
    font-size: var(--font-size-medium);
}

div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.center-text {
    text-align: center;
}

.large-padding {
    padding: 4em;
}

div.horizontal-orientation {
    flex-direction: row;
}

div.center-content {
    justify-content: center;
    align-items: center;
}